<!DOCTYPE html>
<html lang="en">
<head>
<title>Surat Keputusan Pengangkatan</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<table style="width: 686px;" border="0" cellpadding="1" align="center">
<tbody>
<tr>
<td style="width: 678px;" colspan="3">
<div align="center"><br />
<h1><img style="float: right;" src="https://upload.wikimedia.org/wikipedia/id/9/95/Logo_Institut_Teknologi_Bandung.png" alt="Logo Itb" width="125" height="125" /></h1>
</div>
</td>
</tr>
<tr>
<td style="width: 678px;" colspan="3">
<h1 align="center"><span style="text-decoration: underline;"><strong>SURAT KETERANGAN</strong></span></h1>
<div align="center">Jl. Ganesha No.10, Lb. Siliwangi, Kecamatan Coblong, Kota Bandung, Jawa Barat 40132</div>
<div align="center"><hr /></div>
</td>
</tr>
<tr>
<td style="width: 678px;" colspan="3" valign="top" height="270">
<div align="justify">
<span>Yang bertanda tangan di bawah ini menerangkan bahwa :</span>
<br></br>
<table style="width: 411px;" border="0">
<tbody>
<tr>
<td style="width: 180px;"><span style="font-size: medium;">Nama</span></td>
<td style="width: 10px;"><span style="font-size: medium;">:</span></td>
<td style="width: 312px;"><%= userInfo.nama %></td>
</tr>
<tr>
<td style="width: 180px;"><span style="font-size: medium;">Alamat</span></td>
<td style="width: 10px;"><span style="font-size: medium;">:</span></td>
<td style="width: 312px;"><span style="font-size: medium;"><%= userInfo.alamat %></span></td>
</tr>
<tr>
<td style="width: 180px;"><span style="font-size: medium;">NIP</span></td>
<td style="width: 10px;"><span style="font-size: medium;">:</span></td>
<td style="width: 312px;"><span style="font-size: medium;"><%= userInfo.nip %></span></td>
</tr>
</tbody>
</table>
<div align="justify">&nbsp;</div>
<div align="justify"><span style="font-size: medium;">Dinyatakan secara resmi bekerja di Institut Teknologi Bandung sebagai <%= jabatan.jabatan_fungsional %>/<%= jabatan.jabatan_fungsional %> di unit kerja <%= unit_kerja.unit_kerja %> sejak tanggal <%= userInfo.waktu_pengangkatan %>.</span></div>
<div align="justify">&nbsp;</div>
<div align="justify"><span style="font-size: medium;">Demikian surat keterangan ini dibuat dengan sebenarnya untuk dipergunakan sebagaimana mestinya.</span></div>
<div align="justify">&nbsp;</div>
<div align="justify">&nbsp;</div>
<div align="justify">&nbsp;</div>
<div align="justify">&nbsp;</div>
</div>
<div align="center">&nbsp;</div>
</td>
</tr>
<tr>
<td style="width: 209px;">
<div align="center"><span style="font-size: medium;">Kepala Dekan,</span></div>
<div align="center">&nbsp;</div>
<div align="center"><span style="font-size: medium;">{ Nama Dekan }</span></div>
</td>
<td style="width: 447px;">&nbsp;</td>
<td style="width: 22px;" valign="top">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>